{
  "swagger": "2.0",
  "info": {
    "title": "BAM API Backoffice",
    "version": "1.0.0",
    "description": "Api backoffice de l'application de fonds commun de placement de Bridge Asset Management"
  },
  "host": "bam.mediasoftci.net/api/bambckoff",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/auth/encode": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "op_code": {
                  "example": "any"
                },
                "app_id": {
                  "example": "any"
                },
                "timestamp": {
                  "example": "any"
                },
                "app_mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/auth/verify": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/config/sys/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_tag": {
                  "example": "any"
                },
                "r_valeur": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/config/sys/{tag}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_valeur": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/config/canal/list": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/config/canal": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                },
                "r_pass": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/config/canal/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-acteurs/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-acteurs/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-acteurs/{code}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-acteurs/{code}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-documents/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_format": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-documents/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                },
                "r_format": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-documents/{code}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-documents/{code}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-operations/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-operations/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-operations/{code}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-operations/{code}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-moypaiement/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_type": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-moypaiement/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_type": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-moypaiement/{code}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/t-moypaiement/{code}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/profils/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_habilitation": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/profils/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                },
                "r_habilitation": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/profils/{code}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/profils/{code}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/login": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "os",
            "in": "header",
            "type": "string"
          },
          {
            "name": "adresse_ip",
            "in": "header",
            "type": "string"
          },
          {
            "name": "marque_device",
            "in": "header",
            "type": "string"
          },
          {
            "name": "model_device",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}/sessions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}/sessions/{ref}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_civilite": {
                  "example": "any"
                },
                "r_nom": {
                  "example": "any"
                },
                "r_prenom": {
                  "example": "any"
                },
                "r_email": {
                  "example": "any"
                },
                "r_telephone": {
                  "example": "any"
                },
                "r_adresse": {
                  "example": "any"
                },
                "profil_code": {
                  "example": "any"
                },
                "r_mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_civilite": {
                  "example": "any"
                },
                "r_nom": {
                  "example": "any"
                },
                "r_prenom": {
                  "example": "any"
                },
                "e_profil": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}/motdepasse": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ancien_mdp": {
                  "example": "any"
                },
                "nouveau_mdp": {
                  "example": "any"
                },
                "session_ref": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/{id}/panier": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/affectation/{id}/valider": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_description": {
                  "example": "any"
                },
                "r_motif": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/agents/validation/historique": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particuliers": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particuliers/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particuliers/{id}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particuliers/{id}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprises": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprises/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprises/{id}/desactiver": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprises/{id}/activer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/portefeuilles": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{id}/portefeuilles": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{id}/operations": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_periodicite": {
                  "example": "any"
                },
                "r_date_debut": {
                  "example": "any"
                },
                "r_date_fin": {
                  "example": "any"
                },
                "r_cible": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/{code}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_periodicite": {
                  "example": "any"
                },
                "r_date_debut": {
                  "example": "any"
                },
                "r_date_fin": {
                  "example": "any"
                },
                "r_cible": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/{code}/parties": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/parties": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "campagne_code": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_points_totale": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/parties/{p_ref}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "p_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "p_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "campagne_code": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_points_totale": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/parties/{p_ref}/questions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "p_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/parties/questions": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "partie_ref": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_avec_colonne": {
                  "example": "any"
                },
                "r_points_totale": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/parties/questions/{q_ref}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "q_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "q_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "partie_ref": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_avec_colonne": {
                  "example": "any"
                },
                "r_points_totale": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/questions/{q_ref}/matrices": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "q_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/questions/matrices": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "question_ref": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_type": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/questions/matrices/{rm_ref}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "rm_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "rm_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "question_ref": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_type": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/matrices/{rm_ref}/reponses": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "rm_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/matrices/reponses": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "matrice_ref": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_points": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/p-risques/matrices/reponses/{_ref}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "question_ref": {
                  "example": "any"
                },
                "r_ordre": {
                  "example": "any"
                },
                "r_intitule": {
                  "example": "any"
                },
                "r_points": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/fonds/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/fonds/val_liquidatives": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/operations/{date_debut}/{date_fin}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "date_debut",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date_fin",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/operations/souscription/{date_debut}/{date_fin}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "date_debut",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date_fin",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/operations/rachat/{date_debut}/{date_fin}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "date_debut",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date_fin",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/operations/transfert/{date_debut}/{date_fin}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "date_debut",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date_fin",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/operations/{ref}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/operations/{date_debut}/{date_fin}/commissions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "date_debut",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date_fin",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/operations/valider/mouvement": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/operations/valider/souscription": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/operations/valider/rachat": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
[...]
